<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>learn</servlet-name>
        <servlet-class>com.learn.WelcomeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>learn</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>

    <!--<servlet>
          <servlet-name>secureResource</servlet-name>
          <servlet-class>com.learn.FormBasedAuthentication</servlet-class>
        </servlet>

      <servlet-mapping>
          <servlet-name>secureResource</servlet-name>
          <url-pattern>/form_based_authentication</url-pattern>
      </servlet-mapping> -->

   <!-- Authorisation configuration starts here-->
    <security-constraint>
      <web-resource-collection>
          <web-resource-name>welcome page</web-resource-name>
          <url-pattern>/learn</url-pattern>
          <http-method>POST</http-method>
      </web-resource-collection>
      <auth-constraint>
          <description>Any user wants to edit welcome page should have editor role</description>
          <role-name>EDITOR</role-name>
      </auth-constraint>
    </security-constraint>

    <security-constraint>
        <display-name>SecurityConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>WRCollection</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>learner</role-name>
        </auth-constraint>
      <!--  <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>-->
    </security-constraint>

    <!-- Authorisation configuration ends here -->

    <!-- Authentication configuration started here -->
    
    <!-- Form based authentication -->
  <!--  <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/Login.jsp</form-login-page>
            <form-error-page>/Login_failed.jsp</form-error-page>
        </form-login-config>
    </login-config>-->

    <!-- This is basic authentication configuration -->
    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>

    <!-- Authentication configuration ends here -->

    <!-- Security role configuration -->
    <security-role>
        <role-name>learner</role-name>
    </security-role>
    <security-role>
        <role-name>EDITOR</role-name>
    </security-role>
    <!-- Security role configuration ends here> -->
</web-app>
